@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Saira+Extra+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&family=Saira+Extra+Condensed:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(musuem.png);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

.navbar {
 height: 12%;
 width: 100%;
 display: flex;
 align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
}

.menu-icon {
width: 30px;
cursor: pointer;
margin-left: 40px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 60px;

}

nav ul li a {
text-decoration: none;
color: #fff;
font-size: 13px;
}

.row {
  display: flex;
  height: 88%;
  align-items: center;
}

.col {
  flex-basis: 50%;
}

h2 {
color: #fff;
font-size: 60px;
}

p {
  color: #fff;
  font-size: 11px;
  line-height: 15px;
}

.card {
  width: 500px;
  height: 330px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(temple\ of\ solomon.jpg);
background-position: center;
background-size: cover;
}

.card2 {
  width: 500px;
  height: 330px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(ziggurat.jpg);
background-position: center;
background-size: cover;
}

.card3 {
  width: 500px;
  height: 330px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(colosseum.jpg);
background-position: center;
background-size: cover;
}

.card4 {
  width: 500px;
  height: 330px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(Great\ Wall\ of\ China.jpg);
background-position: center;
background-size: cover;
}

.card5 {
  width: 500px;
  height: 330px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-image: url(parthenon.jpg);
background-position: center;
background-size: cover;
}

h1 {
  color: #fff;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: gray;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: none;}

h3 {
  color: white;
  font-size: 95px; 
  position: center;
  padding: auto;
  padding-left: 20%;
  padding-top: 0%;
}

.container2 {
  width: 100%;
  height: 250vh;
  object-fit: fill;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(musuem.png);
  background-position: center;
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
  box-sizing: border-box;
}

p1 {
font-size: 15px;
color: #fff;
padding-left: 1%;
padding-top: 4.75%;
position: fixed;
bottom: 0;
left:0;
}

.headerbox {
  width: 320px;
  height: 50px;
  color: gray;
  opacity: 100%;

}


.a {
  text-indent: 15px;
  font-size: 13px;
}


h2 {
  text-indent: 11px;
}

.e {
 font-family: 'Times New Roman', Times, serif;
 font-size: 12px;
 text-indent: 11px;
 color:#fff
}

.q {
  align-content: center;
  position: center;
}