body {
  background: white;
}

p {
  color: black;
  text-align: center;
}

img {
  width: 200px; 
  height: 200px;
  padding-left: auto;
  padding-right: auto;
}

h1{
  text-decoration: underline;
  text-align: center;
  text-size-adjust: 1000px;
}
  
